{%extends 'base.html' %}

{% block head %}
<title>MedicalAI Website</title>
{% endblock %}


{% block body %}

<form action="/" method="POST">
<div class="container">
    <div id="item-add-entry">
        Add Entry
    </div>
    <div id="item-subsystem">
        <label for="subsystem">Sub System:</label>
        <input type="text" name="subsystem" id="subsystem">
    </div>
<!--    <div id="item-subsystemBox">-->
<!--        <input type="text" name="subsystem" id="subsystem">-->
<!--    </div>-->
    <div id="item-problem">
        <label for="problem">Problem:</label>
        <input type="text" name="problem" id="problem">
    </div>
<!--    <div id="item-problemBox">-->
<!--        <input type="text" name="problem" id="problem">-->
<!--    </div>-->

    <div id="item-errorCodes">
        Error Codes
    </div>

    <div id="item-errorCodeBox1">
            <input type="text" name="error_code1" id="error_code1" class="error_code">
    </div>
    <div id="item-errorCodeBox2">
        <input type="text" name="error_code2" id="error_code2" class="error_code">
    </div>
    <div id="item-errorCodeBox3">
        <input type="text" name="error_code3" id="error_code3" class="error_code">
    </div>

    <div id="item-interlocks">
        Interlock Codes
    </div>
    <div id="item-interlockBox1">
           <input type="text" name="interlock1" id="interlock1" class="interlock">
    </div>
    <div id="item-interlockBox2">
        <input type="text" name="interlock2" id="interlock2" class="interlock">
    </div>
    <div id="item-interlockBox3">
        <input type="text" name="interlock3" id="interlock3" class="interlock">
    </div>

    <div id="item-otherCodes">
        <label for="other_codes">Other Codes</label>
    </div>
    <div id="item-otherCodesBox">
        <input type="text" name="other_codes" id="other_codes">
    </div>
    </div>

     <input type="submit" value="Add Request">
</form>


</div>
<div id="right-column">
<table class="table-bordered">
    <tr>
    <th>Sub System</th>
    <th>Problem</th>
    <th>Error Code 1</th>
    <th>Error Code 2</th>
    <th>Error Code 3</th>
    <th>Interlock 1</th>
    <th>Interlock 2</th>
    <th>Interlock 3</th>
    <th>Other Codes</th>
    <th>Result</th>
    <th>Request Date</th>
    <th>Actions</th>
    </tr>

{% for request in requests %}
<tr>
    <td>{{ request.subsystem }}</td>
    <td>{{ request.problem }}</td>
    <td>{{ request.error_code1 }}</td>
    <td>{{ request.error_code2 }}</td>
    <td>{{ request.error_code3 }}</td>
    <td>{{ request.interlock1 }}</td>
    <td>{{ request.interlock2 }}</td>
    <td>{{ request.interlock3 }}</td>
    <td>{{ request.other_codes }}</td>
    <td>{{ request.result }}</td>
    <td>{{ request.date_created.date() }}</td>
    <td>
        <a href="/delete/{{ request.id }}">Delete</a>
        <br>
        <a href="/update/{{ request.id }}">Change</a>

    </td>
</tr>
{% endfor %}
</table>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    $( function() {
    var subsystemTags = ["Beam","MLS","Water"];
    $( "#subsystem" ).autocomplete({
      source: subsystemTags
    });
    } );

    $( function() {
    var problemTags = ["BGM Fault", "BMAG and HVCB interlocks", "BMAG and UDRS interlocks" ,
    "BMAG interlock", "Continuous flow fault", "FLOW interlock", "GFIL and HVCB Faults",
    "Intermittent FLOW faults", "MLC Initialization Error", "MLC Interlock", "MLC Leaf Error",
    "MLC Leaf Stall", "MLC Leaf Stopping Intermittently", "MLC losing connection, treatment invalid",
    "MLC Secondary Feedback Error", "MLC stuck leaf", "MLC Stuck Open", "MLC Won't go to plan, Leaf Failure",
    "MLC, COL error", "Output too high.", "UDRS and HWFA faults", "UDRS with IMRT and Gantry rotation", "Underdose",
    "Underdose all energies", "Underdose in 15MV in morning", "Underdose in 6MV", "Underdose in 8MV", "Underdose in 9e",
    "Underdose in Electrons", "Underdose in morning", "Underdose in Photons", "Underdose on EDW" ,
    "Underdose when gantry 180 degrees", "Underdose when rotating gantry", "Yield monitor error"];
    $( "#problem" ).autocomplete({
      source: problemTags
    });
    } );

    $( function() {
    var interlockTags = ["BGM","BMAG","COL","EXQ2","FLOW","GFIL","HVCB","HWFA","INIT","KFIL","MLC","PUMP",
                        "SFB","UDRS","UDRS1","UDRS2","VAC2","YIELD"];
    $( ".interlock" ).autocomplete({
      source: interlockTags
    });
    } );

    $( function() {
    var error_codeTags = ["210005","AD Overcurrent","EE ROM","FIL","HD AD+","HD TEMP","HV OFF","HVPS+","Leaf Stall"];
    $( ".error_code" ).autocomplete({
      source: error_codeTags
    });
    } );
  </script>
</div>

</form>

{% endblock %}