{%extends 'base.html' %}

{% block head %}

{% endblock %}
<title>Result 'creme de la creme' table</title>

<body>
    <table>
        <tr>
            <th>result</th>
            <th>accuracy</th>
        </tr>
        <tr>
            <td>{{result1}}</td>
            <td>{{accuracy1}}</td>
        </tr>
         <tr>
            <td>{{result2}}</td>
            <td>{{accuracy2}}</td>
        </tr>
         <tr>
            <td>{{result3}}</td>
            <td>{{accuracy3}}</td>
        </tr>
    </table>
</body>
</html>