{%extends 'base.html' %}

{% block head %}

{% endblock %}
<title>Medical AI Update Page</title>
{% block body %}

<div class ="content">
    <h1 style="text-align: center">Customize UserRequest</h1>
</div>

    <form action="/update/{{user_request.id}}" method="POST">
    <label for="problem">Sub System:</label>
    <input type="text" name="subsystem" id="subsystem" value={{user_request.subsystem}}>
    <label for="problem">Problem:</label>
    <input type="text" name="problem" id="problem" value={{user_request.problem}}>
     <label for="error_code1">Error Code 1:</label>
    <input type="text" name="error_code1" id="error_code1" class="error_code" value={{user_request.error_code1}}>
    <label for="error_code2">Error Code 2:</label>
    <input type="text" name="error_code2" id="error_code2" class="error_code" value={{user_request.error_code2}}>
    <label for="error_code3">Error Code 3:</label>
    <input type="text" name="error_code3" id="error_code3" class="error_code" value={{user_request.error_code3}}>

    <label for="interlock1">Interlock 1:</label>
    <input type="text" name="interlock1" id="interlock1" class="interlock" value={{user_request.interlock1}}>
    <label for="interlock2">Interlock 2:</label>
    <input type="text" name="interlock2" id="interlock2" class="interlock" value={{user_request.interlock2}}>
    <label for="interlock3">Interlock 3:</label>
    <input type="text" name="interlock3" id="interlock3" class="interlock" value={{user_request.interlock3}}>
    <label for="other_codes">Other Codes</label>
    <input type="text" name="other_codes" id="other_codes"  value={{user_request.other_codes}}>
    <input type="submit" value="Update Request">
</form>

</div>
{% endblock %}