body {
  color: white;
  background-color: #1152A4;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
}

table {
  margin: 0 auto;
}

th, td {
  border: 1px solid;
}

th {
  background-color: #FA792B;
  color: black;
}



/*
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
*/


label {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 5px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

input[type="text"], textarea {
  background-color : #20ABB5;
}

/**/

.item-a {
  grid-area: add-entry;
  background-color: black;
}
.item-b {
  grid-area: problem;
}
.item-c {
  grid-area: problemBox;
}
.item-d {
  grid-area: subsystem;
}
.item-e {
  grid-area: subsystemBox;
}
.item-f {
  grid-area: errorCodes;
}
.item-g {
  grid-area: errorCode1;
}
.item-h {
  grid-area: errorCode2;
}
.item-i {
  grid-area: interlocks ;
}
.item-j {
  grid-area: otherCodes;
}

.container {
  margin: 50px;
  display: grid;
  grid-template-columns: 1/9 1/9 1/9 1/9 1/9 1/9 1/9 1/9 1/9 ;
  grid-template-rows: auto;
  grid-template-areas:
    "add-entry . . . . . . . ."
    "subsystem subsystemBox problem problemBox . . . . ."
    "errorCodes . . interlocks . . otherCodes . ."
    ". . . . . . . . .";
}