


body {
  color: #1152A4;
  background-color: #FBF8F3;
  font-family: 'Romana', sans-serif;
}

h2 {
  text-align: center;
}

table {
  margin: 0 auto;
}

th, td {
  border: 1px solid;
}

/* Top label row for answer  */
th {
  background-color: #20ABB5;
  color: #1152A4;
}

form {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: center; /* Horizontally centers items in the container */
  align-items: center;
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px; /* Adds space between input boxes */
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Add Request Button */
input[type="submit"] {
  padding: 5px 20px;
  background-color: #FA792B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add Request Hover */
input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Input Boxes */
input[type="text"], textarea {
  background-color : #C1F4F2;
}

