body {
  color: #1152A4;
  background-color: #FBF8F3;
  font-family: 'Romana', sans-serif;
}

h2 {
  text-align: center;
}

table {
  margin: 0 auto;
}

th, td {
  border: 1px solid;
}

/* Top label row for answer  */
th {
  background-color: #20ABB5;
  color: #1152A4;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}


input[type="text"] {
    display: inline-block;
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Add Request Button */
input[type="submit"] {
  padding: 10px 30px;
  background-color: #FA792B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

/* Center the button */
input[type="submit"] {
  display: block;
  margin: 0 auto;
}

/* Add Request Hover */
input[type="submit"]:hover {
  background-color: #e64405;

}

/* Input Boxes */
input[type="text"], textarea {
  background-color : #C1F4F2;
}




/*DESKTOP/FULL WEBSITE*/
#item-add-entry {
  grid-area: add-entry;
}
#item-problem {
  grid-area: problem;
}
#item-problemBox {
  grid-area: problemBox;
}
#item-subsystem {
  grid-area: subsystem;
}
#item-subsystemBox {
  grid-area: subsystemBox;
}
#item-errorCodes {
  grid-area: errorCodes;
}
#item-errorCodeBox1 {
  grid-area: errorCodeBox1;
}
#item-errorCodeBox2 {
  grid-area: errorCodeBox2;
}
#item-errorCodeBox3 {
  grid-area: errorCodeBox3 ;
}
#item-interlocks {
  grid-area: interlocks;
}
#item-interlockBox1 {
  grid-area: interlockBox1;
}
#item-interlockBox2 {
  grid-area: interlockBox2;
}
#item-interlockBox3 {
  grid-area: interlockBox3;
}
#item-otherCodes {
  grid-area: otherCodes;
}
#item-otherCodesBox {
  grid-area: otherCodesBox;
}

.container {
  background-color: #20ABB5;
  border: 2px solid black;
  boarder-radius: 25%;
  margin: 50px;
  display: grid;

  grid-template-columns: repeat(auto-fit);
  grid-template-rows: auto;
  grid-template-areas:
    "add-entry . . . . . . . ."
    "subsystem subsystem problem problem . . . . ."
    "errorCodes . . interlocks . . otherCodes . ."
    "errorCodeBox1 errorCodeBox2 errorCodeBox3 interlockBox1 interlockBox2 interlockBox3 otherCodesBox otherCodesBox otherCodesBox";
}

@media (max-width: 550px) {
body {
  color: green;
  background-color: green;
  font-family: 'Romana', sans-serif;
}
#item-add-entry {
  grid-area: add-entry;
}
#item-problem {
  grid-area: problem;
}
#item-problemBox {
  grid-area: problemBox;
}
#item-subsystem {
  grid-area: subsystem;
}
#item-subsystemBox {
  grid-area: subsystemBox;
}
#item-errorCodes {
  grid-area: errorCodes;
}
#item-interlocks {
  grid-area: interlocks;
}

#item-otherCodes {
  grid-area: otherCodes;
}

#item-errorCodeBox1 {
  grid-area: errorCodeBox1;
}

#item-errorCodeBox2 {
  grid-area: errorCodeBox2;
}
#item-errorCodeBox3 {
  grid-area: errorCodeBox3 ;
}
#item-interlockBox1 {
  grid-area: interlockBox1;
}
#item-interlockBox2 {
  grid-area: interlockBox2;
}
#item-interlockBox3 {
  grid-area: interlockBox3;
}
#item-otherCodesBox {
  grid-area: otherCodesBox;
}
.container {

  background-color: black;
  border: 2px solid black;
  boarder-radius: 25%;
  margin: 50px;
  display: inline-block;



}
}


/*
"errorCodeBox1 errorCodeBox2 errorCodeBox3 interlockBox1 interlockBox2 interlockBox3 otherCodesBox otherCodesBox otherCodesBox";
*/
